body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
    color: #333;
}
h1 {
    text-align: center;
    color: #4d7068ff;
}
input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    padding: 10px 20px;
    background-color: #4d7068ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 10px auto;
}
button:hover {
    background-color: #4d7068ff;
}
#summary {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#chat-container {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
#chat {
    border: 1px solid #ccc;
    padding: 10px;
    height: 300px;
    overflow-y: scroll;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.message {
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    max-width: 80%;
    word-wrap: break-word;
}
.message.user {
    background-color: #dbf0ebff;
    align-self: flex-end;
    margin-left: auto;
    text-align: right;
}
.message.bot {
    background-color: #f1f0f0;
    text-align: left;
    margin-right: auto;
}
#user-input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
@media (max-width: 600px) {
    input[type="text"], #user-input {
        width: calc(100% - 20px);
    }
}
